/* Widths */
@media only screen
and (max-width: 800px) {
    body {
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: 100%;
        font-family: 'Alegreya', 'Arial', 'Tahoma', sans-serif;

        margin: 0;
    }
}
@media only screen
and (min-width: 800px) {
    body {
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: 100%;
        font-family: 'Alegreya', 'Arial', 'Tahoma', sans-serif;
        padding: 0.5em
    }
}



/* Typography ------------------------------------------------------------------------ */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
    margin-top: 20px
}

/* Links ----------------------------------------------------------------------------- */
a, a:visited, a:focus {
    text-decoration: none;
    outline: 0;
}

a:hover {
    text-decoration: underline;
}

.page {
    position: absolute;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
}

.container-fluid {
    margin: auto;
    position: relative;
    background-color: white;
    max-width: 1024px;
    min-height: 100vh;
    padding: 5px;
}

.invisible {
    margin: 0;
    max-height: 0;
    visibility: hidden;
}

.loginInputText {
    font-size: 1em;
    color: black;
    line-height: 1em;
}

form label {
    display: block;
    font-weight: bold;
    font-size: 14px;
    color: #626262;
    margin-bottom: 5px;
    line-height: 25px
}

.service-section label, .weekday-list label {
    display: inline;
}

/* Vertical spacing*/
div {
    margin-bottom: 0em
}

.scheduler-section div {
    margin-bottom: 0
}

input, select {
    margin-bottom: 1em;
    padding: 10px
}

/* Widths */
@media only screen
and (max-width: 800px) {
    .width-medium {
        width: 96%;

        -ms-box-sizing:content-box;
        -moz-box-sizing:content-box;
        -webkit-box-sizing:content-box;
        box-sizing:content-box;

    }
}
@media only screen
and (min-width: 800px) {
    .width-medium {
        min-width: 200px;
        width: 40%;

        -ms-box-sizing:content-box;
        -moz-box-sizing:content-box;
        -webkit-box-sizing:content-box;
        box-sizing:content-box;
    }
}

.value {
    width: 1024px; /* required for calendar widget */
}

.slidedown-heading {
    font-size: large;
    font-weight: 300;
    line-height: 2em;
    vertical-align: baseline;
    text-decoration: none;
    color: #44352b;
}

h1 {
    text-align: center;
    font-size: 250%;
    font-weight: 300;
    line-height: 110%;
}

.message {
    display: block;
    margin-bottom: 1em;
}

td {
    padding-bottom: 0.5em;
}

.float-left {
    float: left;
    display: block;
}

.float-right {
    float: right;
    width: 50%;
}

.ui-steps .ui-steps-item {
    width: 33%;
}

.ui-state-highlight {
    text-shadow: none !important;
}

.ui-steps.custom {
    margin-bottom: 4em;
}

.ui-steps.custom .ui-steps-item .ui-menuitem-link {
    height: 10px;
    padding: 0 1em;
}

.ui-steps.custom .ui-steps-item .ui-steps-number {
    background-color: #0081c2;
    color: #FFFFFF;
    display: inline-block;
    width: 30px;
    border-radius: 10px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.ui-steps.custom .ui-steps-item.ui-state-highlight .ui-steps-title {
    color: #555;
}
