/* Widths */
@media (max-device-width: 800px) { /* Phones and Tablets*/
    body {
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: 100%;
        font-family: 'Alegreya', 'Arial', 'Tahoma', sans-serif;
        font-size: 3em;

        margin: 0;
    }

    input[type="color"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    input[type="week"],
    select {
        font-size: 1em;
    }


    .eventers-container {
        margin: 0;
    }

    .eventers-container .ui-button > .ui-button-text {
        line-height: 150%;
        padding-left: 1em;
        padding-right: 1em;
    }
}
@media (min-device-width: 800px) { /* PCs */
    body {
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: 100%;
        font-family: 'Alegreya', 'Arial', 'Tahoma', sans-serif;
        font-size: large;

        padding: 0.5em;
    }

    .eventers-container {
        max-width: 800px;

        margin: auto;
    }

    .eventers-container .ui-button > .ui-button-text {
        line-height: 200%; !important;
        padding-left: 2em;
        padding-right: 2em;
    }
}

body * {
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}


.container-fluid {
    position: relative;
    background-color: transparent;
    min-height: 100vh;

}

.eventers-container {
    background-color: white;
    padding: 5px;
}

.eventers-container > * > .col-12 {
    width: 100%;
}

.buttons-hbox {
    margin-top: 1em;
    margin-bottom: 1em;
}







/* Typography ------------------------------------------------------------------------ */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
    margin-top: 20px
}

/* Links ----------------------------------------------------------------------------- */
a, a:visited, a:focus {
    text-decoration: none;
    outline: 0;
}

a:hover {
    text-decoration: underline;
}

.page {
    position: absolute;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
}


.invisible {
    margin: 0;
    max-height: 0;
    visibility: hidden;
}

form label {
    display: block;
    font-weight: bold;
    line-height: 150%;
}

.service-section label, .weekday-list label {
    display: inline;
}

/* Vertical spacing*/
div {
    margin-bottom: 0em
}

.scheduler-section div {
    margin-bottom: 0
}

input, select {
    margin-bottom: 1em;
    padding: 10px
}


.value {
    width: 1024px; /* required for calendar widget */
}

.slidedown-heading {
    font-size: large;
    font-weight: 300;
    line-height: 2em;
    vertical-align: baseline;
    text-decoration: none;
    color: #44352b;
}

h1 {
    text-align: center;
    font-size: 250%;
    font-weight: 300;
    line-height: 110%;
}

.message {
    display: block;
    margin-bottom: 1em;
}

td {
    padding-bottom: 0.5em;
}

.float-left {
    float: left;
    display: block;
}

.float-right {
    float: right;
    width: 50%;
}

.ui-steps .ui-steps-item {
    width: 33%;
}

.ui-state-highlight {
    text-shadow: none !important;
}

.ui-steps.custom {
    margin-bottom: 4em;
}

.ui-steps.custom .ui-steps-item .ui-menuitem-link {
    height: 10px;
    padding: 0 1em;
}

.ui-steps.custom .ui-steps-item .ui-steps-number {
    background-color: #0081c2;
    color: #FFFFFF;
    display: inline-block;
    width: 30px;
    border-radius: 10px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.ui-steps.custom .ui-steps-item.ui-state-highlight .ui-steps-title {
    color: #555;
}
