.page {
    position: absolute;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
}

.container-fluid {
    position: relative;
    background-color: white;
    max-width: 1280px;
    min-height: 100vh;
    padding: 0;
}

.container-fluid div {
    padding: 0.25em;
}

#header {
    padding: 0;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 0.75em;
    background-color: aliceblue;
    text-align: center;
    padding: 0;
}

#title-bar {
    background-color: #030303;
    color: #ececec;
    min-height: 3em;
}

#title-bar form {
    text-align: right;
    margin: auto;
}

.data-table {
    min-width: 100%;
    padding: 5px;
    margin: 5px;
}

.title-column {
    min-width: 50%;
    padding: 2px;
}

.date-column {
    padding: 2px;
}

.author-column {
    padding: 2px;
}


.buttons-hbox input {
    margin-right: 1em;
    margin-top: 1em;
    min-height: 3em;
    min-width: 10em;
}

#optionals {

}
#optionals td {
    padding: 2px;
}

.hidden {
    display: none;
}

.toggle {
    font-size: 0.75em;
}

.loginInputText {
    font-size: 1em;
    color: black;
    line-height: 1em;
}

form label {
    display: block;
    font-weight: bold;
    font-size: 14px;
    color: #626262;
    margin-bottom: 5px;
    line-height: 25px
}

/* Vertical spacing*/
div {margin-bottom: 2.5em}
input, select {margin-bottom: 1em; padding: 10px}

/* Widths */
.width-medium {
    min-width: 200px;
    width: 200px;
}
.value {
    width: 1000px;
}


/* Reset & Basics -------------------------------------------------------------------- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,tt,var,b,u,i,center,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}

/* Basic Styles ---------------------------------------------------------------------- */
html{height:100%}
body{-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%; font-family: 'Alegreya', 'Arial', 'Tahoma', sans-serif}

/* Typography ------------------------------------------------------------------------ */
h1,h2,h3,h4,h5,h6{margin-bottom:15px}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-weight:inherit}
h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{text-decoration:none}
p{margin:0 0 15px}
em,i{font-style:italic}
b,strong,dt{font-weight:700}
big,.big{font-size:110%;line-height:180%}

/* Links ----------------------------------------------------------------------------- */
a, a:visited, a:focus { text-decoration: none; outline: 0; }
a:hover { text-decoration: underline; }
p a, p a:visited { line-height: inherit; }

/* Images ---------------------------------------------------------------------------- */
img.scale-with-grid,#Content img{max-width:100%;height:auto}
.google-map img{max-width:none!important}
iframe{max-width:100%}

/* Buttons --------------------------------------------------------------------------- */
a.tp-button{background:none;font-family:inherit!important;height:auto!important;line-height:inherit!important;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;letter-spacing:0!important;text-shadow:0 0 0!important;box-shadow:0 0 0!important;font-weight:400!important;border-width:1px!important}
a.button,a.tp-button,button,input[type="submit"],input[type="reset"],input[type="button"]{display:inline-block;padding:11px 20px;margin-bottom:15px;cursor:pointer;margin-right:7px;border:0;border-radius:5px;position:relative;overflow:hidden;-webkit-box-shadow:inset 0 0 0 1px rgba(0,0,0,.03);box-shadow:inset 0 0 0 1px rgba(0,0,0,.03);background-repeat:repeat-x}
a.button_js{padding:0}
a.button.button_large,a.tp-button.button_large,button.button_large,input[type="submit"].button_large,input[type="reset"].button_large,input[type="button"].button_large{font-size:110%;line-height:110%}
a.button .button_label{display:block;float:left;position:relative;z-index:2}

a.button .button_icon{display:block;float:left;background:rgba(0,0,0,.05)}
a.button .button_icon i{color:rgba(0,0,0,.5)}

a.button.button_left .button_icon,a.tp-button.button_left .button_icon{float:left}
a.button.button_right .button_icon,a.tp-button.button_right .button_icon{float:right}

a.button .button_label{padding:11px 20px}
a.button .button_icon{padding:11px 12px}
a.button_large .button_label{padding:15px 30px}
a.button_large .button_icon{padding:15px 13px}

@media only screen and (min-width: 768px){
    a.button:after,a.tp-button:after,button:after,input[type="submit"]:after,input[type="reset"]:after,input[type="button"]:after{content:"";position:absolute;left:0;top:0;height:100%;width:0;z-index:1;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s;background:rgba(0,0,0,.05)}
    a:hover.button,a:hover.tp-button{text-decoration:none}
    a.button:hover:after,a.tp-button:hover:after,button:hover:after,input[type="submit"]:hover:after,input[type="reset"]:hover:after,input[type="button"]:hover:after{width:100%}
}

/* Buttons sizes */
a.button.button_size_1 .button_label{padding:10px 17px}
a.button.button_size_1 .button_icon{padding:10px 10px}
a.button.button_size_1,
a.tp-button.button_size_1,
button.button_size_1,
input[type="submit"].button_size_1,
input[type="reset"].button_size_1,
input[type="button"].button_size_1{font-size:95%;line-height:95%}

a.button.button_size_3 .button_label{padding:15px 30px}
a.button.button_size_3 .button_icon{padding:15px 13px}
a.button.button_size_3,
a.tp-button.button_size_3,
button.button_size_3,
input[type="submit"].button_size_3,
input[type="reset"].button_size_3,
input[type="button"].button_size_3{font-size:110%;line-height:110%}

a.button.button_size_4 .button_label{padding:18px 33px}
a.button.button_size_4 .button_icon{padding:18px 16px}
a.button.button_size_4,
a.tp-button.button_size_4,
button.button_size_4,
input[type="submit"].button_size_4,
input[type="reset"].button_size_4,
input[type="button"].button_size_4{font-size:120%;line-height:120%}

/* Button full-width */
a.button.button_full_width,
button.button_full_width,
input[type="submit"].button_full_width,
input[type="reset"].button_full_width,
input[type="button"].button_full_width { width: 100%; text-align: center; }
a.button.button_full_width .button_icon{ display: inline-block;float:none;background: none;}
a.button.button_full_width .button_label{ display:inline-block;float:none;}

a.button_left.button_full_width .button_label {padding-left:0}
a.button_right.button_full_width .button_label {padding-right:0}


/* Buttons | Stroke ------------------------------------------------------------------ */
.button-stroke a.button:not(.action_button),.button-stroke:not(.header-plain) a.button.action_button,.button-stroke a.tp-button,.button-stroke button,.button-stroke input[type="submit"],.button-stroke input[type="reset"],.button-stroke input[type="button"]{border-width:2px;border-style:solid;-webkit-border-radius:3px;border-radius:3px;background-color:transparent!important;-webkit-box-shadow:inset 0 0 0 0;box-shadow:inset 0 0 0 0;background-image:none}
.button-stroke a.button:not(.action_button):after,.button-stroke:not(.header-plain) a.button.action_button:after,.button-stroke a.tp-button:after,.button-stroke button:after,.button-stroke input[type="submit"]:after,.button-stroke input[type="reset"]:after,.button-stroke input[type="button"]:after{display:none}

.button-stroke a.button:not(.action_button),.button-stroke:not(.header-plain) a.button.action_button,.button-stroke a.tp-button,.button-stroke button,.button-stroke input[type="submit"],.button-stroke input[type="reset"],.button-stroke input[type="button"]{-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s;}
.button-stroke a:hover.button:not(.action_button),.button-stroke:not(.header-plain) a:hover.button.action_button,.button-stroke a:hover.tp-button,.button-stroke button:hover,.button-stroke input[type="submit"]:hover,.button-stroke input[type="reset"]:hover,.button-stroke input[type="button"]:hover{background-color:#828282}
.button-stroke a:hover.button.button_stroke_custom:not(.action_button),.button-stroke:not(.header-plain) a:hover.button.button_stroke_custom.action_button,.button-stroke a:hover.tp-button.button_stroke_custom{background-color:rgba(0,0,0,.05)!important}
.button-stroke a.button .button_icon{background:none}
.button-stroke a:hover.button .button_icon i,.button-stroke a.button.button_theme:hover .button_icon i{color:rgba(0,0,0,.5)!important}

.button-stroke a.button_left.button .button_label,.button-stroke a.button_left.button_large .button_label{padding-left:0}
.button-stroke a.button_right.button .button_label,.button-stroke a.button_right.button_large .button_label{padding-right:0}
.button-stroke a.button_left.button_large .button_icon{padding-left:27px}
.button-stroke a.button_right.button_large .button_icon{padding-right:27px}

/* Buttons | Flat -------------------------------------------------------------------- */
.button-flat a.button:not(.action_button),.button-flat:not(.header-plain) a.button.action_button,.button-flat a.tp-button,.button-flat button,.button-flat input[type="submit"],.button-flat input[type="reset"],.button-flat input[type="button"]{background-image:none;border-width:0;border-style:solid;-webkit-border-radius:0;border-radius:0;-webkit-box-shadow:inset 0 0 0 0;box-shadow:inset 0 0 0 0;-webkit-appearance:none}
.button-flat a.button .button_icon{background:none}
.button-flat a.button .button_icon i{color:inherit}

.button-flat a.button_left.button .button_label,.button-flat a.button_left.button_large .button_label{padding-left:0}
.button-flat a.button_right.button .button_label,.button-flat a.button_right.button_large .button_label{padding-right:0}
.button-flat a.button_left.button_large .button_icon{padding-left:27px}
.button-flat a.button_right.button_large .button_icon{padding-right:27px}

button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}

@media only screen and (min-width: 768px){
    .button-flat a.button:after,.button-flat a.tp-button:after,.button-flat button:after,.button-flat input[type="submit"]:after,.button-flat input[type="reset"]:after,.button-flat input[type="button"]:after{content:"";position:absolute;left:0;top:0;height:100%;width:100%;z-index:1;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s;background:rgba(0,0,0,.07);filter:alpha(opacity=0);opacity:0}
    .button-flat a.button:hover:after,.button-flat a.tp-button:hover:after,.button-flat button:hover:after,.button-flat input[type="submit"]:hover:after,.button-flat input[type="reset"]:hover:after,.button-flat input[type="button"]:hover:after{width:100%;filter:alpha(opacity=1);opacity:1}
}

/* Buttons | Colors ------------------------------------------------------------------ */

/* Green */
a.button :focus{outline:-webkit-focus-ring-color auto 5px;outline-offset:-2px}

a.button {text-decoration: none; transition-duration: 0.2s }
a.button.button_green,a.tp-button.green{background-color:#88be4c;color:#fff;border: 2px solid #88be4c}
a.button.button_green:hover{
background-color: #fff;
    color: #88be4c;
    border: 2px solid #88be4c;
}
.button-stroke a.button.button_green,.button-stroke a.button.button_green .button_icon i,.button-stroke a.tp-button.green{color:#88be4c;border-color:#88be4c}
.button-stroke a:hover.button.button_green,.button-stroke a:hover.tp-button.green{background-color:#88be4c!important;color:#fff}


/* Grid 1240px ----------------------------------------------------------------------- */
body								{ min-width: 960px;}
body.admin-bar						{ position:relative;}

#Wrapper 							{ max-width: 1240px; margin: 0 auto; overflow:hidden; -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .06); box-shadow: 0 0 15px rgba(0, 0, 0, .06);}

.layout-boxed						{ padding: 25px 0;}
.layout-boxed.boxed-no-margin		{ padding: 0; }
.layout-full-width 					{ padding: 0; }
.layout-full-width #Wrapper 		{ max-width: 100% !important; width: 100% !important; margin: 0 !important; }

#Content 							{ width: 100%; padding-top: 30px;}
#Content.no-padding,
.template-slider #Content,
.with_aside #Content				{ padding-top: 0; }

.with_aside .sections_group			{ padding-top: 30px; }

.section							{ position: relative; }
.section_wrapper,
.container							{ max-width: 1220px; margin:0 auto; position:relative;}
.section.full-width > .section_wrapper	{ max-width: 100% !important; padding-left:0!important; padding-right:0!important;}

.section_wrapper:after,
.container:after					{ clear: both; content: " "; display: block; height: 0; visibility: hidden;}

.mcb-wrap							{ float:left; position:relative; z-index:1; -webkit-box-sizing:border-box; box-sizing:border-box;}
.mcb-wrap.divider					{ width:100%;}

.column, .columns					{ float: left; margin:0 1% 40px;}
.the_content_wrapper				{ margin: 0 1%;}
.column_content .the_content_wrapper	{ margin: 0;}

.sidebar, .widget-area				{ box-sizing:border-box;}

/* Wrap | Equal Height */
.equal-height-wrap .mcb-wrap .mcb-wrap-inner { position:relative; float:left; width:100%;}

.equal-height-wrap .mcb-wrap.valign-middle .mcb-wrap-inner { top:50%;
    -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); -ms-transform:translateY(-50%); -o-transform:translateY(-50%); transform:translateY(-50%);}
.equal-height-wrap .mcb-wrap.valign-bottom .mcb-wrap-inner { top:100%;
    -webkit-transform:translateY(-100%); -moz-transform:translateY(-100%); -ms-transform:translateY(-100%); -o-transform:translateY(-100%); transform:translateY(-100%);}

/* Sizes ----------------------------------------------------------------------------- */

/* .mcb-wrap */
.one-sixth.mcb-wrap					{ width: 16.666%; }		/* 1/6 */
.one-fifth.mcb-wrap					{ width: 20%; }			/* 1/5 */
.one-fourth.mcb-wrap				{ width: 25%; }			/* 1/4 */
.one-third.mcb-wrap					{ width: 33.333%; }		/* 1/3 */
.two-fifth.mcb-wrap					{ width: 40%; }			/* 2/5 */

.one-second.mcb-wrap				{ width: 50%; }			/* 1/2 */
.three-fifth.mcb-wrap				{ width: 60%; }			/* 3/5 */
.two-third.mcb-wrap					{ width: 66.666%; }		/* 2/3 */
.three-fourth.mcb-wrap				{ width: 75%; }			/* 3/4 */
.four-fifth.mcb-wrap				{ width: 80%; }			/* 4/5 */
.five-sixth.mcb-wrap				{ width: 83.333%; }		/* 5/6 */
.one.mcb-wrap						{ width: 100%; }		/* 1/1 */

/* .column */
.one-sixth.column					{ width: 14.666%; }		/* 1/6 */
.one-fifth.column					{ width: 18%; }			/* 1/5 */
.one-fourth.column, .four.columns	{ width: 23%; }			/* 1/4 */
.one-third.column					{ width: 31.333%; }		/* 1/3 */
.two-fifth.column					{ width: 38%; }			/* 2/5 */

.one-second.column					{ width: 48%; }			/* 1/2 */
.three-fifth.column					{ width: 58%; }			/* 3/5 */
.two-third.column					{ width: 64.666%; }		/* 2/3 */
.three-fourth.column				{ width: 73%; }			/* 3/4 */
.four-fifth.column					{ width: 78%; }			/* 4/5 */
.five-sixth.column					{ width: 81.333%; }		/* 5/6 */
.one.column							{ width: 98%; }			/* 1/1 */

.section.full-width > .one.column,
.section.full-width > .section_wrapper > .one.column,
.section.full-width .one.wrap .one.column	{ width:100%; margin: 0; }

/* .Sidebar | .with_aside */
.with_aside .content_wrapper		{ max-width: 1240px; margin:0 auto;}

.with_aside .sections_group			{ width: 75%; float:left;}

.with_aside .section_wrapper		{
    max-width:calc( 100% - 20px );}

.with_aside .four.columns			{ float: right; margin:0;}

.aside_left .sections_group			{ float: right;}
.aside_left .four.columns			{ float: left;}

/* Sidebar - Both | .aside_both */
.aside_both .sections_group			{ width: 60%; margin-left:20%;}
.aside_both .sidebar.columns		{ width: 18%; }
.aside_both .sidebar-1				{ float: left !important; margin-left:-79%; }

/* Column ---------------------------------------------------------------------------- */

/* Column | Margin - Horizontal */
.no-margin-h .column				{ margin-left:0; margin-right:0; }
.no-margin-h .one-sixth.column		{ width: 16.666%; }		/* 1/6 */
.no-margin-h .one-fifth.column		{ width: 20%; }			/* 1/5 */
.no-margin-h .one-fourth.column		{ width: 25%; }			/* 1/4 */
.no-margin-h .one-third.column		{ width: 33.333%; }		/* 1/3 */
.no-margin-h .two-fifth.column		{ width: 40%; }			/* 2/5 */

.no-margin-h .one-second.column		{ width: 50%; }			/* 1/2 */
.no-margin-h .three-fifth.column	{ width: 60%; }			/* 3/5 */
.no-margin-h .two-third.column		{ width: 66.666%; }		/* 2/3 */
.no-margin-h .three-fourth.column	{ width: 75%; }			/* 3/4 */
.no-margin-h .four-fifth.column		{ width: 80%; }			/* 4/5 */
.no-margin-h .five-sixth.column		{ width: 83.333%; }		/* 5/6 */
.no-margin-h .one.column			{ width: 100%; }		/* 1/1 */

/* Column | Margin - Bottom */

/* set in section options */
.column.column_divider				{ margin-bottom: 0 !important;}

.column-margin-0px .column			{ margin-bottom: 0 !important;}
.column-margin-10px .column			{ margin-bottom: 10px !important;}
.column-margin-20px .column			{ margin-bottom: 20px !important;}
.column-margin-30px .column			{ margin-bottom: 30px !important;}
.column-margin-40px .column			{ margin-bottom: 40px !important;}
.column-margin-50px .column			{ margin-bottom: 50px !important;}

/* set in item options */
.column-margin-0px.column			{ margin-bottom: 0 !important;}
.column-margin-10px.column			{ margin-bottom: 10px !important;}
.column-margin-20px.column			{ margin-bottom: 20px !important;}
.column-margin-30px.column			{ margin-bottom: 30px !important;}
.column-margin-40px.column			{ margin-bottom: 40px !important;}
.column-margin-50px.column			{ margin-bottom: 50px !important;}

/* Column | Equal Height */
.equal-height .column .column_attr{height:100%;box-sizing:border-box}

/* Column | Align */
.column_attr.align_left{text-align:left}
.column_attr.align_right{text-align:right}
.column_attr.align_center{text-align:center}
.column_attr.align_justify{text-align:justify}

/* Extra Content */
.extra_content .the_content_wrapper{margin:0 1%}
.extra_content .has_content .the_content_wrapper,.extra_content .category_description .the_content_wrapper{margin-bottom:40px}

/* Clearing -------------------------------------------------------------------------- */
.container:after{content:"\0020";display:block;height:0;clear:both;visibility:hidden}
.clearfix:before,.clearfix:after{content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix:after{clear:both}
.clearfix{zoom:1}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
